body {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

#wrapperBody {
    height: 1000px;
}

#visWrapper {
    height: 800px;
}

p {
    line-height: 150%;
}

#trialCounter {
    width: 80;
    height: 500;
    position: absolute;
    left: 0;
    /* background-color: purple; */
}

/* Form */
#input-submit {
    width: 50%;
    border: 3px #204DF5;
    padding: 10px;
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: center;
    margin: 5% auto; 
    margin-top: 0;
    margin-bottom: 0;
    left: 0;
    right: 0;
}

.input-form {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

input {
    margin-right: 10px;
}

label {
    margin: auto;
    margin-right: 20px;
}

/* Buttons */
#start-button {
    margin: 20px 0 20px 0;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

input[type=button] {
    border: none;
    padding: 10px 40px 10px 40px;
    background-color: cornflowerblue;
    color: white;
    border-radius: 5px;
}

input[type=submit] {
    border: none;
    padding: 10px 40px 10px 40px;
    background-color: cornflowerblue;
    color: white;
    border-radius: 5px;
}

/* Headers */
.headerDiv {
    margin: 50px 50px 0 50px;
    color: #445668; 
    font-family: 'Lato', sans-serif;
    line-height: 200%;
}

.header {
    font-size: 40px; 
    margin: 0 0 20px 0; 
    text-shadow: 0px 1px 0px #f2f2f2;
    font-weight: 400;
}

.subHeader {
    font-size: 40px;
    margin: 0 0 20px 0; 
}

/* Misc */
#expDiv {
    width: 60%;
    margin: 10% auto; 
    font-size: large;
}

#finished {
    margin: 10% auto; 
    line-height: 150%;
    margin-top: 100px;
}

.hidden {
    opacity: 0;
    margin: 0px !important;
    height: 0px;
}

#submit-button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px ;
    cursor: pointer
}

#start-button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px ;
    cursor: pointer;
}

.qTxt {
    margin: 30px 0 0 0;
}



#object-design { 
    width: 800px; 
    height: 90%;
    display: block;
    margin-left: auto; 
    margin-right: auto; 

}


